
.TabMenu {
    background-color: rgba(117, 117, 117, 0.5);
    border-bottom: 1px solid rgb(31, 30, 30);
    box-shadow: 0px 3px 3px rgba(2, 2, 2, 0.304);
    padding: 15px;
}

.p-tabmenuitem {
    margin-left: 10px;
    font-size: 18px;
}
.p-menuitem-text {
    color: aliceblue;
    
}
.p-menuitem-text:hover {
    color: rgba(240, 248, 255, 0.353);
}
.p-menuitem-icon {
    color: aliceblue;
}
.p-highlight {
    color: brown;
}