.AdminBase {
    background: rgb(199, 130, 214);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: fixed;
}

.TabMenu {
    background-color: rgba(117, 117, 117, 0.5);
    border-bottom: 1px solid rgb(31, 30, 30);
    box-shadow: 0px 3px 3px rgba(2, 2, 2, 0.304);
    padding: 15px;
}

.p-tabmenuitem {
    margin-left: 10px;
    font-size: 18px;
}
.p-menuitem-text {
    color: aliceblue;
    
}
.p-menuitem-text:hover {
    color: rgba(240, 248, 255, 0.353);
}
.p-menuitem-icon {
    color: aliceblue;
}
.p-highlight {
    color: brown;
}

.Uploader {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}
#Spiner {
    font-size: 4em;
    margin-left: 50%;
    margin-top: 20%;
    color: white;
}

@keyframes flick {
    from {color: white;}
    to {color:gray;}
}
.UploaderText {
    color: white;
    font-size: 20px;
    animation-name: flick;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.Country {
    cursor: pointer;
}
.Country:hover {
    color: red;
}


.FiltreStartDay {
    cursor: pointer;
}
.FiltreStartDay:hover {
    color: red;
    background-color: rgba(169, 167, 167, 0.2);
}
.PreviewSelectDay {
    cursor: pointer;
    border: 1px solid silver;
    border-radius: 5px;
    width: 45px;
    height: 50px;
    padding: 12%;
    background-color: rgba(2, 2, 2, 0.2);
    padding-left: 11px;
    padding-top: 15px;
}
.PreviewSelectDay:hover {
    color: orange;
    border: 1px solid orange;
}
.SelectDayContainer {
    display: flex;
    flex-direction: row;
}
.OptionDay {
    background-color: rgb(175, 174, 174);
    cursor: pointer;
    border: 1px solid rgb(147, 243, 248);
    padding: 12%;
    margin-left: 5%;
    color: rgb(7, 7, 7);
    font-weight: 600;
}
.SelectDay {
    background-color: rgb(203, 155, 155);
    color: red;
    border: 1px solid red;
}
.TimerPreview {
    color: #c5e1a5;
    position: absolute;
    top: 3px;
    left: 3px;
}
.FileLoader {
    position: absolute;
    top: 0%;
    z-index: 4;
    width: 150px;
    height: 100%;
    opacity: 0;
}
.FileLoader:hover {
    animation-name: flickFileLoader;
    animation-duration: 1s;
}
@keyframes flickFileLoader {
    from {color: orange; opacity: 1;}
    to {color: orange; opacity: 0;}
}