.ActionRow {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted rgba(123, 123, 123, 0.556);
}

.ActionTitle {
    display: flex;
    flex-direction: row;
    background-color: rgba(113, 113, 113, 0.222);
    padding: 3px;
}
.ActionTime {
    font-size: 13px;
    margin-top: auto;
    margin-bottom: auto;
}
.ActionHeader {
    margin-left: 15px;
    font-weight: 500;
    color: orange;
}
.ActionText {
    margin-top: 3px;
    margin-left: 15px;
}
.IoRow {
    display: flex;
    flex-direction: row;
}

.p-overlaypanel-content {
    padding: 0;
}
#labelSettings {
    color: gray;
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
}
/* выбор языка, пункт выбранный */
.p-highlight {
    animation: blik 2s linear infinite;
}
/* выьор подраздела в профиле */
#ProfileSelect {
    min-width: 35rem;
    padding-left: 6%;
}
#ProfileSelect .p-highlight {
    animation: none;
    border: 1px solid rgba(128, 128, 128, 0.408);
    color: gray;
}
#ProfileSelect .p-button {
    min-width: 30%;
}
@keyframes blik {
    from {border: 1px solid rgba(60, 199, 39, 0);}
    to {border: 1px solid rgba(61, 199, 39, 0.732);}
}


/* менюшка выпадаюшая юзера */
.UserMain .p-menu {
    background-color: rgba(240, 248, 255, 0);
    min-width: 260px;
   
}
.UserMain .p-menu .p-menuitem-content {
    padding-left: 0.6rem;
}
.UserCartWraper {
    padding: 1rem 0.3rem;
    padding-right: 1.3rem;
    color: aliceblue;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
}
.UserCartLogin {
    font-weight: 600;
    font-family: Poppins, Proxima Nova, apple, sans-serif;
    font-size: 1rem;
}
.UserCartInfo {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.UserCartLike {
    font-size: 0.85rem;
}
.PremiumInfoButton {
    color: aliceblue;
    border: 1px solid rgba(178, 178, 178, 0.148);
    font-size: 1.4rem;
    letter-spacing: 1px;
    max-height: 2rem;
}
.p-menuitem-text {
    margin-left: 0.5rem;
}
/* Профиль */
.HeaderProfile {
    margin-left: 5.5%;
    margin-right: 5.5%;
}
.ProfileBody {
    margin: 3% 4%;
    overflow-y: auto;
    max-height: 50rem;
}
.SelectFoto {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 80%;
    height: 35px;
    background: #4A496A;
    color: white;
}
.SelectFoto:hover {
    background: #615eb0;
}
.UserProfileLogin {
    font-weight: 800;
    font-size: x-large;
    letter-spacing: 1px;
    color: silver;
}
.UserProfileRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.2rem;
    font-size: 1rem;
}
.ProfileIcon {
    font-size: 1.2rem;
    margin-right: 0.8rem;
}
/* контейнер информации о подарке */
.GiftInfoContainer {
    padding: 1.5rem;
}


@media screen and (max-width: 1280px) {
    .UserMain .p-menu {
        background-color: rgba(240, 248, 255, 0);
    }
    .p-menuitem-text {
        margin-left: 1rem;
    }


    #ProfileSelect {
        min-width: 100%;
        padding-left: 0%;
    }
    #ProfileSelect .p-highlight {
        animation: none;
        border: 1px solid rgba(128, 128, 128, 0.408);
        color: gray;
    }
    #ProfileSelect .p-button {
        min-width: 5em;
    }
    .UserCartWraper {
        padding: 1rem 0.3rem;
        padding-bottom: 1rem;
        padding-right: 3rem;
        color: aliceblue;
        font-family: var(--font-family);
        display: flex;
        flex-direction: column;
    }
    .HeaderProfile {
        margin-top: 0px;
        padding-top: 0px;
        margin-left: 0.2em;
        margin-right: 0.2em;
    }
    .ProfileBody {
        margin: 3% 4%;
        overflow-y: auto;
        max-height: 50rem;
    }
    .ProfileBody {
        
    }
    .UserProfileRow {
        
    }
    .ProfileIcon {
       
    }
    .UserProfileLogin {
        
    }
    .SelectFoto {
        
    }
}