.ActionRow {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted rgba(123, 123, 123, 0.556);
}

.ActionTitle {
    display: flex;
    flex-direction: row;
    background-color: rgba(113, 113, 113, 0.222);
    padding: 3px;
}
.ActionTime {
    font-size: 13px;
    margin-top: auto;
    margin-bottom: auto;
}
.ActionHeader {
    margin-left: 15px;
    font-weight: 500;
    color: orange;
}
.ActionText {
    margin-top: 3px;
    margin-left: 15px;
}
.IoRow {
    display: flex;
    flex-direction: row;
}

.p-overlaypanel-content {
    padding: 0;
}
/* меню юзера */



@media screen and (max-width: 1280px) {
    .ActionTime {
        font-size: 1.2vh;
    }
    .ActionHeader {
        font-size: 1.4vh;
    }
    .ActionText {
        font-size: 1.2vh;
    }
    
}