/* база */
.button {
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #2b253a;
    color: aliceblue;
    font-size: 1.8rem;
    border-radius: 50%;
    margin: 2px;
    max-width: none;
    max-height: none;
    min-height: 50px;
    min-width: 50px;
    pointer-events: auto;
}
.buttonLike {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #2b253a;
    font-size: 1.5rem;
    margin-right: 5px;
}
.specialLike {
    padding: 0;
    border: 1px solid rgba(255, 217, 0, 0.268);
    background-color: rgba(202, 199, 182, 0.09);
}
.button:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #2b253a7a;
}
.buttonLike:hover {
    background-color: #ed4e183d;
}


/* Правые верхние кнопки */
#activ {
    color: #4dcdf5;
    backgroundColor: #2b253a7a;
}

.icon-button {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease-in-out;
}

.icon-button:hover {
    opacity: 0.8;
}

.userButton {
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 1.8em;
    margin: 2px;
    cursor: pointer;
    margin-left: 0.2em;
    background-color: #2b253a;
    color: rgb(176, 176, 176);
    border-radius: 50%;
    min-width: 52px;
}
.userButton:hover {
    background-color: rgba(240, 248, 255, 0.1);
    border-color: rgba(240, 248, 255, 0.2);
}
#start {
    padding-left: 2px;
    min-height: 57px;
    min-width: 57px;
}
#stop {
    padding-right: 2px;
    margin-right: 0.5rem;
    min-height: 57px;
    min-width: 57px;
}
#next {
    margin-left: 10px;
    min-height: 57px;
    min-width: 57px;
}
#specialLikeIcon {
    padding-top: 3px;
    font-size: 2rem;
    animation: flikGold 2s ease infinite;
    animation-direction: normal;
}
@keyframes flikGold {
    from { color: rgb(255, 0, 183); }
    to { color: gold; } 
}
.Timer {
    position: absolute;
    z-index: 2;
    color: #7af71b;
    font-size: 1.1rem;
}

/* нижние кнопки */
.ButtonInputChat { 
    border-radius: 15px;
    background-color: #2b253a;
    border: 1px solid rgba(206, 205, 205, 0.3);
    color: aliceblue;
    width: 100%;
    height: 100%;
    min-height: 53px;
}
.ButtonInputChat:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #2b253a7a;
}
#like {
    font-size: 2em;
    min-height: 57px;
    min-width: 57px;
    padding-top: 3px;
    padding-right: 2px;
}
#like:hover {
    color: red;
}
.giftButton {
    font-size: 2em;
    min-height: 57px;
    min-width: 57px;
    margin-left: 0.4em;
    padding-right: 2px;
}
.p-button:disabled {
    opacity: 0.45;
}

/* Modal */
.rejectButtonModal {
    visibility: hidden;
}
.aceptButtonModal {
    width: 35%;
    min-width: 170px;
}

@media screen and (max-width: 1280px) {
    .functionButton {
        margin-right: 0;
        margin-left: 0;
        min-height: 40px;
        min-width: 40px;
        max-height: 42px;
        max-width: 44px;
        font-size: 1.5em;
    }
    .buttonLike {
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: #2b253a;
    }
    .specialLike {
        border: 1px solid rgba(255, 217, 0, 0.268);
        background-color: rgba(202, 199, 182, 0.09);
    }
    #specialLikeIcon {
        padding-top: 7px;
        font-size: 4rem;
        animation: flikGold 2s ease infinite;
        animation-direction: normal;
    }
    .userButton {
        color: rgb(176, 176, 176);
        min-width: 50px;
        min-height: 50px;
    }
    #start {
        padding-left: 7px;
        min-height: 50px;
        min-width: 50px;
    }
    #stop {
        padding-right: 0px;
        margin-right: 0.1em;
        margin-left: 5px;
        min-height: 50px;
        min-width: 50px;
    }
    #next {
        margin-right: 5px;
        min-height: 50px;
        min-width: 50px;
    }
    .giftButton {
        font-size: 1.5em;
        margin-left: 0.05em;
        min-height: 50px;
        min-width: 50px;
        max-height: 50px;
        max-width: 50px;
    }
    #like {
        font-size: 1.5em;
        padding-right: 0px;
        min-height: 50px;
        max-height: 50px;
        min-width: 50px;
        max-width: 50px;
    }
    .ButtonInputChat { 
        margin-right: 5px;
    }
}

@media screen and (max-height: 700px) {
    .giftButton {
        margin-left: 0.05em;
        min-height: 45px;
        min-width: 45px;
        max-height: 45px;
        max-width: 45px;
    }
    #like {
        padding-right: 0px;
        min-height: 45px;
        min-width: 45px;
        max-height: 45px;
        max-width: 45px;
    }
    .ButtonInputChat { 
        min-height: 40px;
        max-height: 44px;
    }
    .userButton {
        min-width: 41px;
        min-height: 35px;
    }
}