.Chat {
    position: fixed;
    z-index: 2;
    overflow-y: auto;
    opacity: 0.5;
    top: 36%;
    width: 30%;
    height: 50%;
}
.Chat::-webkit-scrollbar {
    width: 0;
}

.input {
    background-color: #ede1b4;
    border: 1px solid black;
    padding: 20px;
}


/* Собшения */
.MassageContainer {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.066);
    border-radius: 5%;
    background-color: #b3b5a3;
}

.MassageHeader {

}
.MassageText {
    margin-left: 5px;
}