.Footer-1 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
}

.Footer-2 {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.507);
}