/* подарки и  */
.PanelFooter {
    width: 15%;
}

#like {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 5px;
}
#like:hover {
    color: red;
}
#gift {
    margin-left: 10px;
    padding-left: 11px;
    padding-right: 12px;
}



.InputChatContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5%;
}
/* поле ввода сообщения чата */
.InputChat {
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.512);
    border-radius: 10px;
}