.Left {
    margin: 5px;
    width: 50%;
}
.Right {
    display: flex;
    margin: 1px;
    width: 50%;
    margin-right: 20px;
}
.TestCallOverlay {
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgb(81, 81, 81);
    padding: 20px;
}


.Logo {
    padding-left: 3%;
    color: #ffcccc;
    font-size: 30px;
}
.CoinsContainer {
    display: flex;
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: aliceblue;
}


/* Правые кнопки */
#ls {
    cursor: pointer;
    margin-left: auto;
    width: 50px;
    height: 100%;
    padding: 10px;
    border: 1px solid rgba(206, 205, 205, 0.3);
    background-color: #2b253a;
    color: aliceblue;
    font-size: 1.5rem;
    border-radius: 50%;
}
#ls:hover {
    color: rgb(224, 248, 3);
    border: 1px solid rgba(203, 237, 5, 0.3);
}
#user {
    cursor: pointer;
    margin-left: 10px;
    width: 50px;
    height: 100%;
    padding: 5px;
    border: 1px solid rgba(206, 205, 205, 0.3);
    background-color: #2b253a;
    color: aliceblue;
    font-size: 1.5rem;
    border-radius: 50%;
}
#user:hover {
    color: rgb(224, 248, 3);
    border: 1px solid rgba(203, 237, 5, 0.3);
}