::-webkit-scrollbar-track {
    background-color:#2a2a2b85
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color:#dedfdf;
    border: #333 1px solid;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#adadad;
}
::-webkit-scrollbar {
    width: 5px;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('/css/fonts/Bahnschrift.woff2') format('woff2'),
       url('/css/fonts/Bahnschrift.woff') format('woff'),
       url('/css/fonts/Bahnschrift.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bahnschrift';
}
.root {
  
}
.rootTop {
    height: 100%;
    /*background-color: #42385A;*/
    background: linear-gradient(20deg, #7259abbb,#914a9ead);
}


@media only screen and (min-width: 1280px) {
  .root {
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(45deg, #02e1ba 0%, #26c9f2 29%, #d911f2 66%, #ffa079 100%);
      background: -webkit-linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
      background: linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
      background-size: 150% 150%;
      -webkit-animation: Gradient 15s ease infinite;
      -moz-animation: Gradient 15s ease infinite;
      animation: Gradient 15s ease infinite;
      /*min-height: calc(100vh - 2rem);*/
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-evenly;
      overflow: hidden;
      position: relative; 
  }
  .root::before, .root::after {
      content: "";
      width: 70vmax;
      height: 70vmax;
      position: absolute;
      background: rgba(255, 255, 255, 0.06);
      left: -20vmin;
      top: -20vmin;
      animation: morph 15s linear infinite alternate, spin 20s linear infinite;
      z-index: 1;
      will-change: border-radius, transform;
      transform-origin: 55% 55%;
      pointer-events: none; 
  }
  .root::after {
      width: 70vmin;
      height: 70vmin;
      left: auto;
      right: -10vmin;
      top: auto;
      bottom: 0;
      animation: morph 20s linear infinite alternate, spin 36s linear infinite reverse;
      transform-origin: 20% 20%; 
  }

  @-webkit-keyframes Gradient {
    0% {
      background-position: 0 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0 50%
    }
  }
  @-moz-keyframes Gradient {
    0% {
      background-position: 0 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0 50%
    }
  }
  @keyframes Gradient {
    0% {
      background-position: 0 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0 50%
    }
  }
  @keyframes morph {
    0% {
      border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
    100% {
      border-radius: 40% 60%; } 
  }
  @keyframes spin {
    to {
      transform: rotate(1turn); 
    } 
  }

  .st0{display:none;}
  .st1{display:inline;}
  .st2{opacity:0.29;}
  .st3{fill:#FFFFFF;}
  .st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
  .st5{clip-path:url(#SVGID_4_);}
  .st6{clip-path:url(#SVGID_6_);}
  .st7{clip-path:url(#SVGID_8_);}
  .st8{clip-path:url(#SVGID_10_);}
  .st9{fill:none;}
  .st10{clip-path:url(#SVGID_12_);}
  .st11{opacity:0.7;}
  .st12{clip-path:url(#SVGID_14_);}
  .st13{opacity:0.2;}
  .st14{clip-path:url(#SVGID_16_);}
  .st15{opacity:0.3;fill:#FFFFFF;enable-background:new    ;}
}


  .TextColorDark {
      color: #181b37;
  }
  .IconFill {
      color: #8a717c;
  }
  .p-dialog-title {
      color: white;
  }
  .p-confirm-dialog-message {
      color: #ffcccc;
      font-size: 1.6vh;
  }


  /* бег. строка */
  .marquee-container {
    overflow: hidden; /* Скрытие текста, который выходит за границы */
    white-space: nowrap; /* Запрет переноса строк */
    position: relative;
  }
  .marquee-text {
    display: inline-block;
    padding-left: 100%; /* Начинаем за пределами контейнера */
    animation: marquee 4s linear infinite; /* Анимация движения */
  }

  /* Определение анимации */
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  } 


/*#42385A*/
@media only screen and (max-width: 1280px) {
    .rootTop {
      background-color: #5b22de ;
    }
    
    input, textarea, select {
        font-size: 18px;
    }
    .p-dialog-title {
        font-size: 1.8vh;
        font-weight: 900;
        color: rgb(148, 148, 148);
    }

    .p-menuitem-text {
      
    }
    .p-menu {
        width: 100%;
    }
    .p-menuitem-icon {
        font-size: 1.6vh;
    }
}
