.Loader {
    height: 100%;
    display: flex;
    overflow: hidden;
}

/* Выбор пола */
.SelectSexContainer {
    color: white;
    margin: auto;
}
.TextSelectSex {
    letter-spacing: 0.03em;
    font-size: 4em;
    font-weight: 700;
    color: #ffcccc;
}
.SelectSex {
    margin-left: 1.1em;
    display: flex;
    flex-direction: row;
}
.ImageSex {
    cursor: pointer;
    padding: 15px;
}
.Border {
    border-right: 5px solid rgba(255, 255, 255, 0.175);
}

/* Соглашение */
.AlarmContainer {
    color: white;
    display: flex;
    flex-direction: column;
}
.LabelAlarm {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-size: 3.5em;
    font-weight: 700;
    color: #ffcccc;
}
.AlarmCard {
    background-color: antiquewhite;
    border: 1px solid black;
    width: 50%;
    max-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    padding-top: 1.5%;
    color: black;
    border-radius: 25px;
    font-size: 1.5vh;
    overflow-y: auto;
}
.AlarmCard::-webkit-scrollbar {
    width: 0;
}
.AlarmRadio {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 10px;
}
.AlarmCheckbox {
    width: 4.5vw;
    height: 3vh;
}
.AlarmCheckboxLabel {
    margin: auto;
    font-size: 2vh;
    margin-left: 5px;
    margin-top: 5px;
}


/* Авторизация / Регистрация */
.Form {
    width: 60%;
    height: 50%;
    margin: auto;
    margin-top: 7rem;
    color: white;
    display: flex;
    flex-direction: column;
}
.LabelAuth {
    margin-left: 0%;
    font-size: 4em;
    font-weight: 700;
    color: #ffcccc;
}
.FormButton {
    max-height: 3em;
    margin-top: 1.2em;
    padding: 1.8em;
    border: 1px solid rgba(255, 255, 255, 0.052);
    background-color: rgba(182, 182, 182, 0.411);
    border-radius: 5px;
    color: white;
    font-size: 1em;
}
.FormButton:hover {
    background-color: rgba(182, 182, 182, 0.2);
}
.SocButton {
    max-height: 3em;
    margin-top: 1em;
    padding: 2em;
    border: 1px solid rgba(255, 255, 255, 0.052);
    background-color: rgba(8, 168, 248, 0.411);
    border-radius: 5px;
    color: white;
    font-size: 1em;
}
.SocButton:hover {
    background-color: rgba(182, 182, 182, 0.2);
}
/* Смена режима автор/рег */
.Toogler {

}
.TooglerButton {
    padding: 0px;
    color: white;
    font-size: 2em;
    margin-bottom: 0.3em;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0);
}
.TooglerButton:hover {
    color: rgb(126, 126, 126);
}




@media screen and (max-width: 1280px) {
    .AlarmCard {
        background-color: antiquewhite;
        border: 1px solid black;
        width: 85%;
    }
    .Form {
        width: 90%;
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
    }
    .FormButton {
        padding: 1em;
        border: 1px solid rgba(255, 255, 255, 0.052);
        background-color: rgba(182, 182, 182, 0.411);
        border-radius: 5px;
        color: white;
        font-size: 1em;
    }
    .SocButton {
        padding: 1em;
        font-size: 1em;
    }
}