/* обрезка видео */
.VideoTrimer {
    display: flex;
    flex-direction: column;
}
.VideoPreviewTrim {
    margin: auto;
    width: 60%;
    max-height: 80%;
}

.VideoPreviewToolsPanel {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2%;
    width: 60%;
}
.ToolsPanelBase {
    margin: auto;
    margin-bottom: 5%;
}

.ButtonPlay {
    color: white;
    min-height: 50px;
    min-width: 50px;
    background: #1e1e1e;
    border: 1px solid #82b5ed7c;
    margin-right: 1.5rem;
}
.ButtonTrim {
    color: gold;
    border: 1px solid rgba(255, 217, 0, 0.474);
    margin-right: 0.5rem;
}
.ButtonPlay.p-disabled {
    color: gray;
    border: 1px solid gray;
}

.p-slider-handle-start {
    transform: scale(1);
    border: 2px solid rgb(24, 249, 24);
    background: rgb(7, 105, 7);
}
.p-slider-range {
   
}
.p-slider-handle-end {
    transform: scale(1);
    border: 2px solid rgb(244, 50, 33);
    background: rgb(103, 5, 5);
}
.p-slider-handle-active {
    animation: activ 2s linear infinite;
}
@keyframes activ {
    from {transform: scale(1.5);}
    to {transform: scale(1);}
}

.p-inputnumber-button {
    background-color: #5198e41b;
    color: white;
    border: 1px solid #82b5ed7c;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.p-inputnumber-button:hover {
    color: orange;
    border: 1px solid rgba(245, 196, 105, 0.816);
    background-color: #9395971b;
}

.SuccesSaveButton {
    margin: auto;
    margin-top: 5%;
}
.UploaderEditor {
    position: fixed;
    padding-top: 8%;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}


.progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
.progress-fill {
    height: 100%;
    transition: width 0.3s ease-in-out;
}
.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}


/* + Гистограмма + */
.histogram {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    width: 100%;
    height: 100%;
    border-left: 2px dotted #2a2a2b85;
    border-bottom: 2px dotted #2a2a2b85;
    padding: 5px 10px;
    position: relative;
}
.bar-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    height: 100%;
    justify-content: flex-end;
    margin-right: 5%;
}
.bar-container:hover {
    opacity: 0.5;
}
.bar {
    width: 100%;
    transition: height 0.3s ease-in-out;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    position: relative;
    opacity: 0.9;
    box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.23);  /* Добавим тень для объема */
}
.bar-value {
    opacity: 1;
    position: absolute;
    top: -20px;
    font-size: 14px;
    color: rgb(248, 248, 248);
}
.bar-label {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Перемещаем иконку в нижнюю часть */
    margin-top: auto; /* Прижимаем иконку к низу */
    padding-top: 10px;
}
